@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-color1: #0d0745;
  --bg-color2: #0b0638;
}
html,
body {
  width: 100%;
  scroll-behavior: smooth;
  height: 100%;
  background: #0d0745;
  color: white;
  font-family: 'Recursive', sans-serif;;
}
@media only screen and (min-width: 769px) {
::-webkit-scrollbar {
  display: none;
}
}
#hero {
  position: relative;
}
#festName {
  /* background: rgb(0,0,0); */
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  opacity: 0.9;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#queryarea {
  resize: none;
}
#venue,
#about-university,
#sponsors {
  background-color: var(--bg-color2);
}
#navbar{
  /* background-color: transparent; */
  background: hsla(246, 22%, 35%, 1);

background: linear-gradient(360deg, hsla(246, 22%, 35%, 1) 17%, hsla(246, 81%, 12%, 1) 93%);

background: -moz-linear-gradient(360deg, hsla(246, 22%, 35%, 1) 17%, hsla(246, 81%, 12%, 1) 93%);

background: -webkit-linear-gradient(360deg, hsla(246, 22%, 35%, 1) 17%, hsla(246, 81%, 12%, 1) 93%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#49456C", endColorstr="#0B0638", GradientType=1 );
}
.blurred {
  backdrop-filter: blur(20px);
}

.hidden {
  display: none;
}

.about {
  position: relative;
  overflow: hidden;
}
.about:before {
  z-index: 1;
  content: "";
  width: 100%;
  /* border: 2px solid red; */
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background: url("../img/about-section/mandala.png.png") center no-repeat;
  background-size: contain;
  animation-name: rotatebg;
  animation-duration: 20s;
  opacity: 0.7;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotatebg {
  0% {
    transform: rotate(72deg);
    opacity: 0.1;
  }
  25% {
    transform: rotate(144deg);
    opacity: 0.4;
  }
  50% {
    transform: rotate(216deg);
    opacity: 0.8;
  }
  75% {
    transform: rotate(288deg);
    opacity: 0.4;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.1;
  }
}

.box:last-child {
  justify-self: center;
  align-self: center;
}
